/* src/components/Classes.css */
.classes {
    padding: 50px 20px;
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .class {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .class-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 20px;
  }
  
  .class-info {
    text-align: left;
  }
  
  .class-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .class-description {
    font-size: 1.2rem;
    color: #666;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .class {
      flex-direction: column;
    }
  
    .class-image {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  